<template>
    <div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="sel2">Available categories:</label>
                    <select class="form-control"  size="10">
                        <option v-for="category in allCategories" :value="category.id" @click="activateCategory(category)">{{category.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="sel2">Selected categories:</label>
                    <select class="form-control"size="10">
                        <option v-for="activeCategory in activeCategories" :value="activeCategory" @click="removeCategory(activeCategory)">
                            {{activeCategory.name}}
                            <input type="hidden" multiple name="categories[]" :value="activeCategory.id">
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        props:{
            categories:{},
            active_categories:{},
            old_categories: {},
            old_active_categories: {}
        },
        data(){
            return{
                allCategories: this.categories,
                activeCategories: this.active_categories,
                oldCategories: this.oldCategories
            }
        },
        mounted(){
            console.log(this.old_active_categories);
            if(this.old_active_categories){
                this.activeCategories = this.old_active_categories;
            }
            for(var activeCategory in this.activeCategories){
                for(var category in this.allCategories){
                    if(this.allCategories[category].id == this.activeCategories[activeCategory].id && this.allCategories[category].id == this.activeCategories[activeCategory].id){
                        this.allCategories.splice(category, 1);
                    }
               }
            }
        },
        methods:{
            activateCategory(category){
                this.activeCategories.push(category);
                this.allCategories.$remove(category);
            },
            removeCategory(category){
                this.activeCategories.$remove(category)
                this.allCategories.push(category);
            }
        }
    }
</script>
