<template>
		<div>
			<h4>All Projects</h4>
			<table class="table">
			    <thead>
			      <tr>
			        <th>Status</th>
			        <th>Title</th>
			        <th>Subtitle</th>
			        <th>View</th>
			      </tr>
			    </thead>
			    <tbody>
			        <tr v-for="project in projects">
			            <td>
			                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
			                    <button v-if="project.is_published" type="button" class="btn btn-light" @click="togglePublishState(project.id)" title="Published" data-toggle="tooltip">
			                        <i class="material-icons" style="color: green">done</i>
			                    </button>
			                    <button v-if="!project.is_published" type="button" class="btn btn-light" @click="togglePublishState(project.id)" title="Not published" data-toggle="tooltip">
			                        <i class="material-icons" style="color: red">highlight_off</i>
			                    </button>

			                    <button v-if="project.is_featured" type="button" class="btn btn-light" @click="toggleFeaturedState(project.id)" title="Published" data-toggle="tooltip">
			                        <i class="material-icons" style="color: orange">star</i>
			                    </button>
			                    <button v-if="!project.is_featured" type="button" class="btn btn-light" @click="toggleFeaturedState(project.id)" title="Not published" data-toggle="tooltip">
			                        <i class="material-icons">star_border</i>
			                    </button>

								<div class="btn-group" role="group">
								    <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								    </button>
								    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
								    	<a class="dropdown-item btn" @click="deleteProject(project.id)">
								    		<span style="float: left;"><i class="material-icons">delete_forever</i></span>
								    		Delete
								    	</a>


								    </div>
								</div>
			                </div>
			            </td>
			            <td><a :href="'/project/edit/'+project.id">{{project.title}}</a></td>
			            <td>{{project.subtitle}}</td>
			            <td><a :href="'/#cbp=project/'+project.id" target="_blank"><i class="material-icons">launch</i></a></td>
		          	</tr>
			    </tbody>
			</table>
		</div>
</template>

<script>
		export default{
			data(){
				return{
					projects:{}
				}
			},
			mounted(){
				this.fetchProjects()
			},
			methods:{
				deleteProject(id){
					axios.delete('/project/delete/'+id).then( ( response ) => {
						if(response.data == 'success'){
							this.fetchProjects();
						}else{
							console.log('something went wrong');
						}
					})
				},
				fetchProjects(){
					var config = { headers: {'Cache-Control' : 'no-cache'}};

					axios.get('/project', config).then( ( response ) => {
							this.projects = response.data;
							console.log(response.data);
					})
				},
				togglePublishState(id){
					axios.patch('/project/toggleState/'+id).then( ( response ) => {
							this.projects = response.data;
					})
				},
				toggleFeaturedState(id){
					axios.patch('/project/toggleFeaturedState/'+id).then( ( response ) => {
							this.projects = response.data;
					})
				}
			}
		}
</script>
