<template>
    <div>
        <div class="form-group">
            <label for="sel2">Select Project Images</label>

            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" @change="getNumberOfFiles" id="files" multiple>
                <label class="custom-file-label" for="inputGroupFile02">{{numberOfFiles}} images has been selected</label>
              </div>
              <div class="input-group-append">
                 <button class="btn btn-outline-secondary" @click="uploadImages" type="button">Upload</button>
              </div>
            </div>

        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-4">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div v-for="(image, index) of uploadedImages" class="carousel-item" v-bind:class="[{ 'active': index === 0},{'first': index === 0}]">
                      <img v-bind:src="'/storage/temp/'+imageSize+'/'+image+'.jpg'" alt="Los Angeles" width="100%" height="100%">
                    </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a>
                </div>
            </div>
            <div class="col-8">
                <div style="margin-bottom: 10px;" class="row" v-show="uploadedImages != ''">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-10"><h4>Crop Images</h4></div>
                                    <div class="col-2">
                                        <toggle-button @change="toggleCropImage" :value="cropImage" style="font-size: 18px" :labels="true"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                   <div v-for="(image, index) of uploadedImages" class="col-3 sol-sm-3">
                    <div v-if="index === 0" class="card" style="margin-bottom: 20px;">

                        <img @click="moveLeft(index, image)" class="card-img-top" v-bind:src="'/storage/temp/small/'+image+'.jpg'" alt="Card image">
                        <div class="card-body">
                            <button class="btn btn-danger" @click="deleteImage(image, index)" type="button">Delete</button>
                        </div>
                    </div>
                    <div v-if="index !== 0" class="card" style="margin-bottom: 20px;">
                        <img @click="moveLeft(index, image)" class="card-img-top" v-bind:src="'/storage/temp/small/'+image+'.jpg'" v-bind:class="[{ 'main': index === 0}]" alt="Card image">
                        <div class="card-body">
                            <button class="btn btn-danger" @click="deleteImage(image, index)" type="button">Delete</button>
                        </div>
                    </div>
                    <input type="hidden" name="crop_images" :value="cropImage">
                    <input type="hidden" multiple name="images[]" :value="image">
                </div>
                </div>

            </div>

          </div>
        </div>




    </div>
</template>

<script>
    export default{
        props:{
            images:{},
            crop_images: {},
            old_images: {},
            old_crop_images: {}
        },
        mounted(){
            // console.log(this.old_crop_images);

            for(var image in this.oldImages){
                this.uploadedImages.push(this.oldImages[image]);
            }
            for(var image in this.images){
                this.uploadedImages.push(this.images[image].small_image);
            }
            if (this.cropImage == true) {
                this.imageSize = "small";
            }else{
                this.imageSize = "original";
            }
        },
        created() {
            if(this.crop_images != "undefined"){
                if(JSON.parse(this.crop_images) == 1){
                    this.cropImage = true;
                }else if(JSON.parse(this.crop_images) == 0){
                    this.cropImage = false;
                }
            }

            if(JSON.parse(this.old_crop_images) != null){
               if(JSON.parse(this.old_crop_images) == "true"){
                    this.cropImage = true;
                    console.log("crop image is true");
                }else{
                    this.cropImage = false;
                    console.log("crop image is false")
                }
            }


        },
        computed: {
            upimages() {
                return this.uploadedImages
            },
            oldImages(){
                if(this.old_images){
                   return JSON.parse(this.old_images);
                }
            }
        },
        data(){
          return{
            files:{},
            numberOfFiles: 0,
            uploadedImages:[],
            isActive: false,
            cropImage: false,
            imageSize: "small",
            mainImage: false,
            oldCropImages: false
          }
        },
        methods:{
            toggleCropImage(){
                this.cropImage = !this.cropImage
                if (this.cropImage == true) {
                    this.imageSize = "small";
                }else{
                    this.imageSize = "original";
                }
                console.log(this.cropImage);
            },
            moveLeft(index, image){
                if(index > 0){
                    var tempName = this.uploadedImages[index - 1];
                    this.uploadedImages.$set(index, tempName);
                    this.uploadedImages.$set(index-1, image);

                }
            },
            deleteImage(name, index){
                axios.delete( '/image/delete/'+name).then( ( response ) => {
                    if (index === this.uploadedImages.length - 1) {
                        console.log(index);
                        console.log(this.uploadedImages.length - 1);
                        $(".carousel-item").removeClass("active");
                        $(".first").addClass("active");
                    }
                    this.uploadedImages.splice(index, 1);
                })


            },
            getNumberOfFiles(){
                const fileInput = document.querySelector( '#files' );
                const files = fileInput.files;
                this.numberOfFiles = files.length;
            },
            uploadImages(){
                const fileInput = document.querySelector( '#files' );
                const files = fileInput.files;


                for(let i=0; i < files.length; i++){
                    let formData = new FormData();
                    formData.append('image', files[i]);
                    formData.append('cropImage', this.cropImage);

                    axios.post( '/image/store', formData ).then( ( response ) => {
                        this.uploadedImages.push(response.data);
                    })

                }
            }
        }
    }
</script>


