<div class="portfolio-content">
    <!--Title and Subtitle-->
    <div class="cbp-l-project-title">Project One</div>
    <div class="cbp-l-project-subtitle">by lorem ipsum</div>
    <!--/Title and Subtitle-->
    <!--Slider-->
    <div class="cbp-slider">
        <ul class="cbp-slider-wrap">
            <li class="cbp-slider-item">
                <a href="contents/images/portfolios/1400x900/01.jpg" class="cbp-lightbox">
                    <img src="contents/images/portfolios/1400x900/01.jpg" alt="">
                </a>
            </li>
            <li class="cbp-slider-item">
                <a href="contents/images/portfolios/1400x900/02.jpg" class="cbp-lightbox">
                    <img src="contents/images/portfolios/1400x900/02.jpg" alt="">
                </a>
            </li>
            <li class="cbp-slider-item">
                <a href="contents/images/portfolios/1400x900/03.jpg" class="cbp-lightbox">
                    <img src="contents/images/portfolios/1400x900/03.jpg" alt="">
                </a>
            </li>
        </ul>
    </div>
    <!--/Slider-->
    <!--Container-->
    <div class="cbp-l-project-container">
        <!--Description-->
        <div class="cbp-l-project-desc">
            <div class="cbp-l-project-desc-title">
                <span>Project Description</span>
            </div>
            <div class="cbp-l-project-desc-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cumque, earum blanditiis incidunt minus commodi consequatur provident quae. Nihil, alias, vel consequatur ab aliquam aspernatur optio harum facilis excepturi mollitia autem
                voluptas cum ex veniam numquam quia repudiandae in iure. Assumenda, vel provident molestiae perferendis officia commodi asperiores earum sapiente inventore quam deleniti mollitia consequatur expedita quaerat natus praesentium beatae aut
                ipsa non ex ullam atque suscipit ut dignissimos magnam!</div>
        </div>
        <!--/Description-->
        <!--/Detail List-->
        <div class="cbp-l-project-details">
            <div class="cbp-l-project-details-title">
                <span>Project Details</span>
            </div>
             <!-- List-->
            <ul class="cbp-l-project-details-list">
                <li><strong>Client</strong>John Doe</li>
                <li><strong>Date</strong>22 December 2016</li>
                <li><strong>Categories</strong>Logo, Graphic</li>
            </ul>
             <!--/List-->
            <a href="https://wrapbootstrap.com/?ref=themebang" target="_blank" class="cbp-l-project-details-visit btn red uppercase">visit the site</a>
        </div>
        <!--/Detail List-->
    </div>
    <!--/Container-->
    <!--Container 2-->
    <div class="cbp-l-project-container">
        <div class="cbp-l-project-related">
            <!--Title-->
            <div class="cbp-l-project-desc-title">
                <span>Related Projects</span>
            </div>
            <!--/Title-->
            <!--Related List-->
            <ul class="cbp-l-project-related-wrap">
                <li class="cbp-l-project-related-item">
                    <a href="projects/project6.html" class="cbp-singlePage cbp-l-project-related-link " rel="nofollow" data-cbp-singlePage="projects">
                        <img src="contents/images/portfolios/600x600/1.jpg" alt="">
                        <div class="cbp-l-project-related-title">Project Title</div>
                    </a>
                </li>
                <li class="cbp-l-project-related-item">
                    <a href="projects/project7.html" class="cbp-singlePage cbp-l-project-related-link " rel="nofollow" data-cbp-singlePage="projects">
                        <img src="contents/images/portfolios/600x600/2.jpg" alt="">
                        <div class="cbp-l-project-related-title">Project Title</div>
                    </a>
                </li>
                <li class="cbp-l-project-related-item">
                    <a href="projects/project8.html" class="cbp-singlePage cbp-l-project-related-link " rel="nofollow" data-cbp-singlePage="projects">
                        <img src="contents/images/portfolios/600x600/4.jpg" alt="">
                        <div class="cbp-l-project-related-title">Project Title</div>
                    </a>
                </li>
            </ul>
            <!--/Related List-->
        </div>
    </div>
    <!--/Container 2-->
    <br>
    <br>
    <br>
</div>
