<template>
  <div>
    <div class="row">
      <div class="col-10"><label>Skills</label></div>
      <div class="col-2">
        <button @click.prevent="skills++" class="btn btn-primary btn-block">Add Skill</button>
      </div>
    </div>
    <div v-for="(skill, index) in skills" class="input-group mt-3 mb-3">
      <div class="input-group-prepend">
        <select v-model="skillLevel[index]" class="form-control">
          <option disabled selected value="Skill Level">Skill Level</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <input type="text" class="form-control" placeholder="Name" v-model="skillName[index]">
      <div class="input-group-append" id="button-addon4">
        <button class="btn btn-danger" @click="skill--" type="button">X</button>
      </div>
    </div>
    <div v-for="sl in skillLevel"><input type="hidden" multiple name="skillLevels[]" :value="sl"></div>
    <div v-for="sn in skillName"><input type="hidden" multiple name="skillNames[]" :value="sn"></div>
  </div>
</template>

<script>
    export default {
      data(){
        return{
          skillLevel: [],
          skills: {},
          skillName: []
        }
      }
    }
</script>
