<template>
    <div>
        <table  class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Number of Projects</th>
                <th></th>
              </tr>
            </thead>
            <tbody v-for="category in categories">
                <tr>
                    <td>
                        {{category.name}}
                    </td>
                    <td><a href="'/project/edit/'">{{category.number_of_projects_count}}</a></td>
                    <td>
                        <div class="float-right">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <a :href="'/category/edit/'+category.id" class="btn btn-primary">Edit</a>

                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item" @click="DeleteCategory(category)">Delete</a>
                                    </div>
                              </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                categories:{}
            }
        },
        mounted(){
            var config = { headers: {'Cache-Control' : 'no-cache'}};

            axios.get('/category', config).then(response =>{
                this.categories = response.data;
            });
        },
        methods:{
            DeleteCategory(category){
                axios.delete('/category/destroy/'+category.id).then(response => {
                    console.log(response.data);
                });
            }
        }
    }
</script>
